apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

namespace: sharding-system

commonLabels:
  app.kubernetes.io/name: controller-sharding

resources:
- certificate.yaml
- issuer.yaml

patches:
- patch: |
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: sharder
      namespace: sharding-system
    spec:
      template:
        spec:
          containers:
          - name: sharder
            volumeMounts:
            - name: cert
              mountPath: /tmp/k8s-webhook-server/serving-certs
          volumes:
          - name: cert
            secret:
              secretName: webhook-server
