apiVersion: apps/v1
kind: Deployment
metadata:
  name: webhosting-operator
  namespace: webhosting-system
spec:
  template:
    spec:
      containers:
      - name: manager
        args:
        - --config=/config.yaml
        volumeMounts:
        - name: config
          mountPath: /config.yaml
          subPath: config.yaml
      volumes:
      - name: config
        configMap:
          name: webhosting-operator
