---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: themes.webhosting.timebertt.dev
spec:
  group: webhosting.timebertt.dev
  names:
    kind: Theme
    listKind: ThemeList
    plural: themes
    singular: theme
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.color
      name: Color
      type: string
    - jsonPath: .spec.fontFamily
      name: Font Family
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Theme is the Schema for the themes API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Spec contains the specification of the desired behavior of
              the Theme.
            properties:
              color:
                description: Color is a CSS color for a Website.
                type: string
              fontFamily:
                description: FontFamily is a font family for a Website.
                type: string
            required:
            - color
            - fontFamily
            type: object
          status:
            description: Status contains the most recently observed status of the
              Theme.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
