name: renovate

on:
  push:
    branches:
    - renovate/*

jobs:
  post-update:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        token: ${{ secrets.RENOVATE_TOKEN }}
    - uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    # prevent triggering infinite loop of this action
    - name: safety check
      id: safety
      run: |
        if git log -1 --pretty=full | grep '\[skip renovate-post-update\]' >/dev/null ; then
          echo "Skipping renovate post update workflow"
          echo "skip=true" >> $GITHUB_OUTPUT
        fi

    # Some dependency updates might require updating go.work.sum.
    # Automatically run `make tidy` on renovate branches as long as renovate doesn't know how to handle go workspaces.
    # Some dependency updates might require re-running code generation.
    # Run `make generate` and commit all changes if any.
    - run: make tidy generate
      if: steps.safety.outputs.skip != 'true'
    - uses: stefanzweifel/git-auto-commit-action@v7
      if: steps.safety.outputs.skip != 'true'
      with:
        commit_message: |
          make tidy generate
          
          [skip renovate-post-update]

        # commit with renovate's user, so that it doesn't block further updates to the PR
        commit_user_name: renovate[bot]
        commit_user_email: 29139614+renovate[bot]@users.noreply.github.com
        commit_author: renovate[bot] <29139614+renovate[bot]@users.noreply.github.com>
